

header{
    display: inline-block;
    width: 100%; border: 5px solid skyblue;
    border-radius: 10px;
    background-color: skyblue;
}
h3{
    font-family: 휴먼편지체; text-align: center;
}

section{
    display: inline-block;
    width: 100%; border: 5px solid blue;
    border-radius: 10px;
    background-color: skyblue;
    text-align: center;
}
#table{
    background-color: snow;
    border-radius: 10px;
    font-family: 휴먼편지체; display: inline-block; text-align: center;
}
caption{
    font-family: 휴먼편지체;
}
th{
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
td{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
#choise{
    display: inline-block;
    font-family: 휴먼편지체;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#searching{
    display: inline-block;
    font-family: 휴먼편지체;
    text-align: center;
}
button{
    cursor: pointer;
}
footer{
    display: inline-block;
    float: right;
}